<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Estoque de Bebidas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <style>
        body {
            display: flex;
            min-height: 100vh;
        }
        .sidebar {
            width: 250px;
            background-color: #343a40;
            color: white;
            padding-top: 20px;
        }
        .sidebar a {
            color: white;
            padding: 15px;
            text-decoration: none;
            display: block;
        }
        .sidebar a:hover {
            background-color: #495057;
        }
        .content {
            flex-grow: 1;
            padding: 20px;
        }
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="sidebar">
    <h3 class="text-center">Menu</h3>
    <a href="#" onclick="showDashboard()">Dashboard</a>
    <a href="#" onclick="showRegisterForm()">Registrar Entrada de Bebida</a>
    <a href="#" onclick="showAllBebidas()">Consultar Todas as Bebidas</a>
    <a href="#" onclick="showQuantidadePorSecao()">Consultar Quantidade por Seção</a>
    <a href="#" onclick="showConfigurarTipos()">Configuração de Tipos de Bebidas</a>
</div>
<div class="content">
    <div id="dashboard" style="display:none;">
        <h1>Dashboard</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total de Litros Armazenados</h5>
                        <p class="card-text" id="totalLitros">Carregando...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Quantidade de Seções</h5>
                        <p class="card-text" id="totalSecoes">Carregando...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nomes das Bebidas Disponíveis</h5>
                        <ul id="nomeBebidas" class="list-unstyled"></ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Movimentações de Bebidas</h5>
                        <div id="movimentacaoHistorico"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Seção de Configuração de Tipos de Bebidas -->
    <div id="configurarTipos" style="display:none;">
        <h3>Configuração de Tipos de Bebidas</h3>
        <form id="tipoBebidaForm">
            <div class="form-group">
                <label for="descricaoTipoBebida">Descrição do Tipo de Bebida</label>
                <input type="text" class="form-control" id="descricaoTipoBebida" required>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar Tipo de Bebida</button>
        </form>
        <div id="listaTiposBebida" class="mt-3"></div>
    </div>

    <!-- Formulário de Registro -->
    <div id="registerForm" style="display:none;">
        <h3>Registrar Entrada de Bebida</h3>
        <form id="entradaForm">
            <div class="form-group">
                <label for="nomeBebida">Nome da Bebida</label>
                <input type="text" class="form-control" id="nomeBebida" required>
            </div>
            <div class="form-group">
                <label for="volumeBebida">Volume (em litros)</label>
                <input type="number" class="form-control" id="volumeBebida" min="0.01" step="0.01" required>
                <small id="volumeError" class="form-text text-danger" style="display: none;">O volume deve ser maior que zero.</small>
            </div>
            <div class="form-group">
                <label for="tipoBebida">Tipo de Bebida</label>
                <select class="form-control" id="tipoBebida" required>
                    <!-- Opções serão carregadas dinamicamente -->
                </select>
                <small id="tipoBebidaError" class="form-text text-danger" style="display: none;">Você deve cadastrar ao menos um tipo de bebida.</small>
            </div>
            <div class="form-group">
                <label for="secaoIdEntrada">Seção</label>
                <input type="number" class="form-control" id="secaoIdEntrada" min="1" required>
                <small id="secaoError" class="form-text text-danger" style="display: none;">O número da seção deve ser positivo.</small>
            </div>
            <div class="form-group">
                <label for="responsavelEntrada">Nome do Responsável</label>
                <input type="text" class="form-control" id="responsavelEntrada" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrar Entrada</button>
        </form>
    </div>

    <!-- Lista de Todas as Bebidas -->
    <div id="allBebidas" style="display:none;">
        <h3>Consultar Todas as Bebidas Cadastradas</h3>
        <div id="resultadoTodasBebidas" class="mt-3"></div>
    </div>

    <!-- Quantidade por Seção -->
    <div id="quantidadePorSecao" style="display:none;">
        <h3>Consultar Quantidade por Seção</h3>
        <div id="resultadoConsulta" class="mt-3"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="js/scripts.js"></script>
<script>

    function showDashboard() {
        hideAll();
        document.getElementById('dashboard').style.display = 'block';
        updateDashboard(); // Atualiza o dashboard sempre que for exibido
        updateMovimentacaoHistorico();
    }

    function showRegisterForm() {
        hideAll();
        document.getElementById('registerForm').style.display = 'block';
        loadTiposBebidaSelect(); // Carrega os tipos de bebida no select
    }

    function showAllBebidas() {
        hideAll();
        document.getElementById('allBebidas').style.display = 'block';
        loadAllBebidas(); // Carrega a tabela automaticamente
    }

    function showQuantidadePorSecao() {
        hideAll();
        document.getElementById('quantidadePorSecao').style.display = 'block';
        loadQuantidadePorSecao(); // Carrega a tabela automaticamente
    }

    function hideAll() {
        document.getElementById('dashboard').style.display = 'none';
        document.getElementById('registerForm').style.display = 'none';
        document.getElementById('quantidadePorSecao').style.display = 'none';
        document.getElementById('allBebidas').style.display = 'none';
        document.getElementById('configurarTipos').style.display = 'none';
    }

    function loadAllBebidas() {
        const resultadoTodasBebidas = document.getElementById('resultadoTodasBebidas');

        // Limpar o conteúdo antes de adicionar a nova tabela
        resultadoTodasBebidas.innerHTML = '';

        fetch(`/api/estoque/todas-bebidas`)
            .then(response => response.json())
            .then(data => {
                const tabela = document.createElement('table');
                tabela.className = 'table table-bordered';
                const thead = document.createElement('thead');
                const trHead = document.createElement('tr');

                const thBebida = document.createElement('th');
                thBebida.innerText = 'Bebida';
                trHead.appendChild(thBebida);

                const thSecao = document.createElement('th');
                thSecao.innerText = 'Seção';
                trHead.appendChild(thSecao);

                const thTipoBebida = document.createElement('th');
                thTipoBebida.innerText = 'Tipo de Bebida';
                trHead.appendChild(thTipoBebida);

                const thQuantidade = document.createElement('th');
                thQuantidade.innerText = 'Quantidade (litros)';
                trHead.appendChild(thQuantidade);

                const thAcoes = document.createElement('th');
                thAcoes.innerText = 'Ações';
                trHead.appendChild(thAcoes);

                thead.appendChild(trHead);
                tabela.appendChild(thead);

                const tbody = document.createElement('tbody');

                data.forEach(bebida => {
                    const tr = document.createElement('tr');

                    const tdBebida = document.createElement('td');
                    tdBebida.innerText = bebida.nome;
                    tr.appendChild(tdBebida);

                    const tdSecao = document.createElement('td');
                    tdSecao.innerText = bebida.secao ? bebida.secao.nome : 'Sem seção';
                    tr.appendChild(tdSecao);

                    const tdTipoBebida = document.createElement('td');
                    tdTipoBebida.innerText = bebida.tipoBebida.descricao;
                    tr.appendChild(tdTipoBebida);

                    const tdQuantidade = document.createElement('td');
                    tdQuantidade.innerText = bebida.volume;
                    tr.appendChild(tdQuantidade);

                    const tdAcoes = document.createElement('td');
                    const btnDeletar = document.createElement('button');
                    btnDeletar.className = 'btn btn-danger';
                    btnDeletar.innerText = 'Deletar';
                    btnDeletar.onclick = function() {
                        deletarBebida(bebida.id);
                    };
                    tdAcoes.appendChild(btnDeletar);
                    tr.appendChild(tdAcoes);

                    tbody.appendChild(tr);
                });

                tabela.appendChild(tbody);
                resultadoTodasBebidas.appendChild(tabela);
                updateDashboard(); // Atualiza o dashboard após carregar as bebidas
            })
            .catch(error => {
                console.error('Erro:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao consultar todas as bebidas.', 'error');
            });
    }

    function loadQuantidadePorSecao() {
        const resultadoConsulta = document.getElementById('resultadoConsulta');

        // Limpar o conteúdo antes de adicionar a nova tabela
        resultadoConsulta.innerHTML = '';

        fetch(`/api/estoque/quantidade-por-secao`)
            .then(response => response.json())
            .then(data => {
                const tabela = document.createElement('table');
                tabela.className = 'table table-bordered';
                const thead = document.createElement('thead');
                const trHead = document.createElement('tr');
                trHead.appendChild(document.createElement('th'));

                const secoes = [...new Set(data.map(item => item[0]))];
                secoes.forEach(secao => {
                    const th = document.createElement('th');
                    th.innerText = secao;
                    trHead.appendChild(th);
                });

                thead.appendChild(trHead);
                tabela.appendChild(thead);

                const tiposBebida = [...new Set(data.map(item => item[1]))];
                const tbody = document.createElement('tbody');

                tiposBebida.forEach(tipoBebida => {
                    const tr = document.createElement('tr');
                    const th = document.createElement('th');
                    th.innerText = tipoBebida;
                    tr.appendChild(th);

                    secoes.forEach(secao => {
                        const td = document.createElement('td');
                        const bebida = data.find(item => item[0] === secao && item[1] === tipoBebida);
                        td.innerText = bebida ? bebida[2] : '0';
                        tr.appendChild(td);
                    });

                    tbody.appendChild(tr);
                });

                tabela.appendChild(tbody);
                resultadoConsulta.appendChild(tabela);
                updateDashboard(); // Atualiza o dashboard após carregar a quantidade por seção
            })
            .catch(error => {
                console.error('Erro:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao consultar a quantidade por seção.', 'error');
            });
    }

    function deletarBebida(bebidaId) {
        Swal.fire({
            title: 'Deletar Bebida',
            input: 'text',
            inputLabel: 'Nome do Responsável',
            inputPlaceholder: 'Digite o nome do responsável pela deleção',
            showCancelButton: true,
            confirmButtonText: 'Deletar',
            showLoaderOnConfirm: true,
            preConfirm: (responsavel) => {
                if (!responsavel) {
                    Swal.showValidationMessage('Por favor, insira o nome do responsável');
                } else {
                    return fetch(`/api/estoque/bebida/${bebidaId}?responsavel=${responsavel}`, {
                        method: 'DELETE',
                    })
                        .then(response => {
                            if (response.ok) {
                                Swal.fire('Sucesso!', 'Bebida deletada com sucesso.', 'success');
                                loadAllBebidas(); // Recarregar a tabela após deletar
                                updateDashboard(); // Atualiza o dashboard após deletar
                            } else {
                                Swal.fire('Erro!', 'Erro ao deletar bebida.', 'error');
                            }
                        })
                        .catch(error => {
                            console.error('Erro:', error);
                            Swal.fire('Erro!', 'Ocorreu um erro ao deletar a bebida.', 'error');
                        });
                }
            }
        });
    }

    function updateDashboard() {
        // Atualizar o total de litros armazenados
        fetch('/api/estoque/volume-total')
            .then(response => response.json())
            .then(data => {
                document.getElementById('totalLitros').innerText = `${data} litros`;
            });

        // Atualizar a quantidade de seções
        fetch('/api/estoque/secoes')
            .then(response => response.json())
            .then(data => {
                document.getElementById('totalSecoes').innerText = data.length;
            })
            .catch(error => {
                console.error('Erro ao carregar as seções:', error);
                document.getElementById('totalSecoes').innerText = 'Erro ao carregar os dados';
            });

        // Atualizar os nomes das bebidas disponíveis
        fetch('/api/estoque/todas-bebidas')
            .then(response => response.json())
            .then(data => {
                const ul = document.getElementById('nomeBebidas');
                ul.innerHTML = ''; // Limpar a lista antes de adicionar novos itens
                data.forEach(bebida => {
                    const li = document.createElement('li');
                    li.innerText = bebida.nome;
                    ul.appendChild(li);
                });
            })
            .catch(error => {
                console.error('Erro ao carregar as bebidas:', error);
                document.getElementById('nomeBebidas').innerText = 'Erro ao carregar os dados';
            });
    }


    function updateMovimentacaoHistorico() {
        const movimentacaoHistoricoDiv = document.getElementById('movimentacaoHistorico');

        // Limpar o conteúdo antes de adicionar a nova tabela
        movimentacaoHistoricoDiv.innerHTML = '';

        fetch('/api/estoque/historico-movimentacoes')
            .then(response => response.json())
            .then(data => {
                const existingTable = $('#movimentacaoHistoricoTable');

                const tabela = document.createElement('table');
                tabela.className = 'table table-bordered';
                tabela.id = 'movimentacaoHistoricoTable';  // Adicionando ID à tabela
                const thead = document.createElement('thead');
                const trHead = document.createElement('tr');

                const thHorario = document.createElement('th');
                thHorario.innerText = 'Horário';
                trHead.appendChild(thHorario);

                const thTipo = document.createElement('th');
                thTipo.innerText = 'Tipo';
                trHead.appendChild(thTipo);

                const thVolume = document.createElement('th');
                thVolume.innerText = 'Volume';
                trHead.appendChild(thVolume);

                const thSecao = document.createElement('th');
                thSecao.innerText = 'Seção';
                trHead.appendChild(thSecao);

                const thResponsavel = document.createElement('th');
                thResponsavel.innerText = 'Responsável';
                trHead.appendChild(thResponsavel);

                thead.appendChild(trHead);
                tabela.appendChild(thead);

                const tbody = document.createElement('tbody');

                data.forEach(item => {
                    const tr = document.createElement('tr');

                    const tdHorario = document.createElement('td');
                    tdHorario.innerText = new Date(item[0]).toLocaleString();
                    tr.appendChild(tdHorario);

                    const tdTipo = document.createElement('td');
                    tdTipo.innerText = item[1];
                    tr.appendChild(tdTipo);

                    const tdVolume = document.createElement('td');
                    tdVolume.innerText = item[2];
                    tr.appendChild(tdVolume);

                    const tdSecao = document.createElement('td');
                    tdSecao.innerText = item[3] ? item[3] : 'Não Informada';
                    tr.appendChild(tdSecao);

                    const tdResponsavel = document.createElement('td');
                    tdResponsavel.innerText = item[4] ? item[4] : 'Não Informado';
                    tr.appendChild(tdResponsavel);

                    tbody.appendChild(tr);
                });

                tabela.appendChild(tbody);
                movimentacaoHistoricoDiv.appendChild(tabela);

                // Inicializando o DataTable para a tabela criada
                $('#movimentacaoHistoricoTable').DataTable({
                    order: [[0, 'desc'], [3, 'asc']], // Ordena primeiro por data (desc) e depois por seção (asc)
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/Portuguese.json'  // Para exibir em português
                    }
                });
            })
            .catch(error => {
                console.error('Erro:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao carregar as movimentações.', 'error');
            });
    }

    function showConfigurarTipos() {
        hideAll();
        document.getElementById('configurarTipos').style.display = 'block';
        loadTiposBebida(); // Carrega a lista de tipos de bebidas
    }

    function loadTiposBebida() {
        const listaTiposBebida = document.getElementById('listaTiposBebida');

        fetch('/api/tipo-bebida')
            .then(response => response.json())
            .then(data => {
                listaTiposBebida.innerHTML = '<ul>' + data.map(tipo => `<li>${tipo.descricao}</li>`).join('') + '</ul>';
            })
            .catch(error => {
                console.error('Erro ao carregar tipos de bebida:', error);
            });
    }

    function loadTiposBebidaSelect() {
        const tipoBebidaSelect = document.getElementById('tipoBebida');

        fetch('/api/tipo-bebida')
            .then(response => response.json())
            .then(data => {
                tipoBebidaSelect.innerHTML = ''; // Limpa o select

                if (data.length > 0) {
                    data.forEach(tipo => {
                        const option = document.createElement('option');
                        option.value = tipo.id; // Aqui o valor será o ID
                        option.textContent = tipo.descricao;
                        tipoBebidaSelect.appendChild(option);
                    });
                    document.getElementById('tipoBebidaError').style.display = 'none';
                } else {
                    const option = document.createElement('option');
                    option.value = '';
                    option.textContent = 'Nenhum tipo de bebida disponível';
                    tipoBebidaSelect.appendChild(option);
                    document.getElementById('tipoBebidaError').style.display = 'block';
                }
            })
            .catch(error => {
                console.error('Erro ao carregar tipos de bebida:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao carregar os tipos de bebida.', 'error');
            });
    }

    document.getElementById('tipoBebidaForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const descricao = document.getElementById('descricaoTipoBebida').value;

        fetch('/api/tipo-bebida', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ descricao })
        })
            .then(response => response.json())
            .then(data => {
                Swal.fire('Sucesso!', 'Tipo de Bebida adicionado com sucesso.', 'success');
                document.getElementById('tipoBebidaForm').reset();
                loadTiposBebida(); // Recarrega a lista de tipos de bebidas
            })
            .catch(error => {
                console.error('Erro ao adicionar tipo de bebida:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao adicionar o tipo de bebida.', 'error');
            });
    });

    document.getElementById('entradaForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const nome = document.getElementById('nomeBebida').value;
        const volume = parseFloat(document.getElementById('volumeBebida').value);
        const tipoBebida = document.getElementById('tipoBebida').value;
        const secaoId = parseInt(document.getElementById('secaoIdEntrada').value);
        const responsavel = document.getElementById('responsavelEntrada').value;
        const volumeError = document.getElementById('volumeError');
        const secaoError = document.getElementById('secaoError');

        if (!tipoBebida) {
            Swal.fire('Erro!', 'Você deve cadastrar ao menos um tipo de bebida.', 'error');
            return;
        }

        if (volume <= 0) {
            volumeError.style.display = 'block';
            return;
        } else {
            volumeError.style.display = 'none';
        }

        if (secaoId <= 0) {
            secaoError.style.display = 'block';
            return;
        } else {
            secaoError.style.display = 'none';
        }

        if (!responsavel) {
            Swal.fire('Erro!', 'O nome do responsável é obrigatório.', 'error');
            return;
        }

        const bebida = {
            nome: nome,
            volume: volume,
            tipoBebida: {
                id: tipoBebida  // tipoBebida deve ser enviado como um objeto com um campo id
            }
        };

        fetch(`/api/estoque/entrada?secaoId=${secaoId}&responsavel=${responsavel}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(bebida)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro na resposta da rede.');
                }
                return response.text();
            })
            .then(data => {
                Swal.fire('Sucesso!', data, 'success');
                document.getElementById('entradaForm').reset();
                updateDashboard(); // Atualiza o dashboard após o registro de uma nova entrada
            })
            .catch(error => {
                console.error('Erro:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao registrar a entrada.', 'error');
            });
    });


    // Inicializar com o dashboard exibido e carregar os dados
    document.addEventListener('DOMContentLoaded', function() {
        showDashboard();  // Exibe o dashboard ao carregar a página
    });

</script>
</body>
</html>
