<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Estoque de Bebidas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <style>
        body {
            display: flex;
            min-height: 100vh;
        }
        .sidebar {
            width: 250px;
            background-color: #343a40;
            color: white;
            padding-top: 20px;
        }
        .sidebar a {
            color: white;
            padding: 15px;
            text-decoration: none;
            display: block;
        }
        .sidebar a:hover {
            background-color: #495057;
        }
        .content {
            flex-grow: 1;
            padding: 20px;
        }
        .card {
            margin-bottom: 20px;
        }
        .text-dark-green {
            color: #006400; /* Verde Escuro */
        }
        .card-title {
            font-weight: bold; /* Negrito */
            text-transform: uppercase; /* Maiúsculas */
        }
        .d-flex .card {
            flex: 1 1 calc(33% - 20px); /* Ocupa 1/3 do espaço, menos a margem */
        }
        .w-100 {
            width: 100%;
        }
        .mx-2 {
            margin-left: 10px;
            margin-right: 10px;
        }
        .full-width-card {
            flex: 0 0 100%;
        }
        input[type="search"] {
            display: none;
        }
        #movimentacaoHistoricoTable_filter {
            display: none;
        }
    </style>
</head>
<body>
<div class="sidebar">
    <h3 class="text-center">Menu</h3>
    <a href="#" onclick="showDashboard()">Dashboard</a>
    <a href="#" onclick="showRegisterForm()">Registrar Entrada de Bebida</a>
    <a href="#" onclick="showAllBebidas()">Consultar bebidas disponíveis (Saída)</a>
    <a href="#" onclick="showQuantidadePorSecao()">Consulta do volume total no estoque por cada tipo de bebida</a>
    <a href="#" onclick="showConfigurarTipos()">Cadastrar Tipos de Bebidas</a>
    <a href="#" onclick="showGerenciarSecoes()">Cadastrar Seções</a>
</div>
<div class="content">
    <div id="dashboard" style="display:none;">
        <h1>Dashboard</h1>
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card mt-4 flex-grow-1 mx-2">
                <div class="card-body">
                    <h5 class="card-title text-uppercase font-weight-bold text-dark-green">Consultar Locais Disponíveis</h5>
                    <div class="form-group">
                        <label for="volumeConsultaDashboard">Volume (em litros)</label>
                        <input type="number" class="form-control" id="volumeConsultaDashboard" min="0.01" step="0.01" required>
                    </div>
                    <button class="btn btn-primary" onclick="consultarLocaisDisponiveis()">Consultar</button>
                    <div id="resultadoConsultaLocais" class="mt-3"></div>
                </div>
            </div>
            <div class="card mt-4 flex-grow-1 mx-2">
                <div class="card-body">
                    <h5 class="card-title text-uppercase font-weight-bold text-dark-green">Total de Litros Armazenados</h5>
                    <p class="card-text" id="totalLitros">Carregando...</p>
                </div>
            </div>
            <div class="card mt-4 flex-grow-1 mx-2">
                <div class="card-body">
                    <h5 class="card-title text-uppercase font-weight-bold text-dark-green">Quantidade de Seções</h5>
                    <p class="card-text" id="totalSecoes">Carregando...</p>
                </div>
            </div>
            <div class="card mt-4 flex-grow-1 mx-2">
                <div class="card-body">
                    <h5 class="card-title text-uppercase font-weight-bold text-dark-green">Nomes das Bebidas Disponíveis</h5>
                    <ul id="nomeBebidas" class="list-unstyled"></ul>
                </div>
            </div>
            <div class="card mt-4 w-100 mx-2">
                <div class="card-body">
                    <h5 class="card-title text-uppercase font-weight-bold text-dark-green">Consultar Seções Disponíveis para Venda</h5>
                    <div class="form-group">
                        <label for="tipoBebidaVenda">Tipo de Bebida</label>
                        <select class="form-control" id="tipoBebidaVenda">
                            <!-- Opções serão carregadas dinamicamente -->
                        </select>
                    </div>
                    <button class="btn btn-primary" onclick="consultarSecoesDisponiveisParaVenda()">Consultar</button>
                    <div id="resultadoConsultaVenda" class="mt-3"></div>
                </div>
            </div>
        </div>
        <div class="card mt-4 w-100 full-width-card">
            <div class="card-body">
                <h5 class="card-title text-uppercase font-weight-bold text-dark-green">Movimentações de Bebidas</h5>
                <div id="movimentacaoHistorico"></div>
            </div>
        </div>
    </div>

    <!-- Seção de Configuração de Tipos de Bebidas -->
    <div id="configurarTipos" style="display:none;">
        <h3>Configuração de Tipos de Bebidas</h3>
        <form id="tipoBebidaForm">
            <div class="form-group">
                <label for="descricaoTipoBebida">Descrição do Tipo de Bebida</label>
                <input type="text" class="form-control" id="descricaoTipoBebida" required>
            </div>
            <div class="form-group">
                <label for="capacidadeMaximaBebida">Capacidade Máxima (litros)</label>
                <input type="number" class="form-control" id="capacidadeMaximaBebida" min="0.01" step="0.01" required>
            </div>
            <div class="form-group">
                <label for="restricaoQuarentena">Restrição Quarentena</label>
                <input type="checkbox" id="restricaoQuarentena">
            </div>
            <button type="submit" class="btn btn-primary">Adicionar Tipo de Bebida</button>
        </form>

        <div id="listaTiposBebida" class="mt-3">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Capacidade Máxima</th>
                    <th>Restrição de Quarentena</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody id="tiposBebidaTableBody">
                <!-- Tipos de bebida cadastrados serão listados aqui via JavaScript -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Formulário de Registro -->
    <div id="registerForm" style="display:none;">
        <h3>Registrar Entrada de Bebida</h3>
        <form id="entradaForm">
            <div class="form-group">
                <label for="nomeBebida">Nome da Bebida</label>
                <input type="text" class="form-control" id="nomeBebida" required>
            </div>
            <div class="form-group">
                <label for="volumeBebida">Volume (em litros)</label>
                <input type="number" class="form-control" id="volumeBebida" min="0.01" step="0.01" required>
                <small id="volumeError" class="form-text text-danger" style="display: none;">O volume deve ser maior que zero.</small>
            </div>
            <div class="form-group">
                <label for="tipoBebida">Tipo de Bebida</label>
                <select class="form-control" id="tipoBebida" required>
                    <!-- Opções serão carregadas dinamicamente -->
                </select>
                <small id="tipoBebidaError" class="form-text text-danger" style="display: none;">Você deve cadastrar ao menos um tipo de bebida.</small>
            </div>
            <div class="form-group">
                <label for="secaoIdEntrada">Seção</label>
                <select class="form-control" id="secaoIdEntrada" required>
                    <!-- Seções disponíveis serão carregadas aqui via JavaScript -->
                </select>
                <small id="secaoError" class="form-text text-danger" style="display: none;">Você deve selecionar uma seção válida.</small>
            </div>
            <div class="form-group">
                <label for="responsavelEntrada">Nome do Responsável</label>
                <input type="text" class="form-control" id="responsavelEntrada" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrar Entrada</button>
        </form>
    </div>

    <!-- Lista de Todas as Bebidas -->
    <div id="allBebidas" style="display:none;">
        <h3>Consultar Todas as Bebidas Cadastradas</h3>
        <div id="resultadoTodasBebidas" class="mt-3"></div>
    </div>

    <!-- Quantidade por Seção -->
    <div id="quantidadePorSecao" style="display:none;">
        <h3>Consultar Quantidade por Seção</h3>
        <div id="resultadoConsulta" class="mt-3"></div>
    </div>

    <!-- Gerenciamento de Seções -->
    <div id="gerenciarSecoes" style="display:none;">
        <h3>Gerenciar Seções</h3>
        <form id="formSecao">
            <div class="form-group">
                <label for="nomeSecao">Nome da Seção</label>
                <input type="text" class="form-control" id="nomeSecao" required>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar Seção</button>
        </form>

        <h2 class="mt-5">Seções Cadastradas</h2>
        <ul id="listaSecoes" class="list-group">
            <!-- Seções cadastradas serão listadas aqui via JavaScript -->
        </ul>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="js/scripts.js"></script>
<script>

    function showDashboard() {
        hideAll();
        document.getElementById('dashboard').style.display = 'block';
        updateDashboard(); // Atualiza o dashboard sempre que for exibido
        updateMovimentacaoHistorico();
    }

    function showRegisterForm() {
        hideAll();
        loadTiposBebidaSelect().then(tiposDisponiveis => {
            if (!tiposDisponiveis) {
                Swal.fire('Atenção!', 'Nenhum tipo de bebida disponível. Cadastre ao menos um tipo de bebida antes de registrar uma entrada.', 'warning');
                return;
            }

            loadSecaoSelect().then(secoesDisponiveis => {
                if (!secoesDisponiveis) {
                    Swal.fire('Atenção!', 'Nenhuma seção disponível. Cadastre ao menos uma seção antes de registrar uma entrada.', 'warning');
                    return;
                }

                document.getElementById('registerForm').style.display = 'block';
            });
        });
    }
    function loadSecaoSelect() {
        const secaoSelect = document.getElementById('secaoIdEntrada');

        return fetch('/api/secoes')
            .then(response => response.json())
            .then(data => {
                secaoSelect.innerHTML = ''; // Limpa o select

                if (data.length > 0) {
                    data.forEach(secao => {
                        const option = document.createElement('option');
                        option.value = secao.id;
                        option.textContent = `${secao.nome} `;
                        secaoSelect.appendChild(option);
                    });
                    document.getElementById('secaoError').style.display = 'none';
                    return true;
                } else {
                    secaoSelect.innerHTML = '<option value="">Nenhuma seção disponível</option>';
                    document.getElementById('secaoError').style.display = 'block';
                    return false;
                }
            })
            .catch(error => {
                console.error('Erro ao carregar seções:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao carregar as seções.', 'error');
                return false;
            });
    }

    function showAllBebidas() {
        hideAll();
        document.getElementById('allBebidas').style.display = 'block';
        loadAllBebidas(); // Carrega a tabela automaticamente
    }

    function showQuantidadePorSecao() {
        hideAll();
        document.getElementById('quantidadePorSecao').style.display = 'block';
        loadQuantidadePorSecao(); // Carrega a tabela automaticamente
    }

    function showConfigurarTipos() {
        hideAll();
        document.getElementById('configurarTipos').style.display = 'block';
        loadTiposBebida(); // Carrega a lista de tipos de bebidas
    }

    function showGerenciarSecoes() {
        hideAll();
        document.getElementById('gerenciarSecoes').style.display = 'block';
        carregarSecoes(); // Carrega as seções existentes
    }

    function hideAll() {
        document.getElementById('dashboard').style.display = 'none';
        document.getElementById('registerForm').style.display = 'none';
        document.getElementById('quantidadePorSecao').style.display = 'none';
        document.getElementById('allBebidas').style.display = 'none';
        document.getElementById('configurarTipos').style.display = 'none';
        document.getElementById('gerenciarSecoes').style.display = 'none';
    }

    function loadAllBebidas() {
        const resultadoTodasBebidas = document.getElementById('resultadoTodasBebidas');

        // Limpar o conteúdo antes de adicionar a nova tabela
        resultadoTodasBebidas.innerHTML = '';

        fetch(`/api/estoque/todas-bebidas`)
            .then(response => response.json())
            .then(data => {
                const tabela = document.createElement('table');
                tabela.className = 'table table-bordered';
                const thead = document.createElement('thead');
                const trHead = document.createElement('tr');
                const thBebida = document.createElement('th');
                thBebida.innerText = 'Bebida';
                trHead.appendChild(thBebida);

                const thSecao = document.createElement('th');
                thSecao.innerText = 'Seção';
                trHead.appendChild(thSecao);

                const thTipoBebida = document.createElement('th');
                thTipoBebida.innerText = 'Tipo de Bebida';
                trHead.appendChild(thTipoBebida);

                const thQuantidade = document.createElement('th');
                thQuantidade.innerText = 'Quantidade (litros)';
                trHead.appendChild(thQuantidade);

                const thAcoes = document.createElement('th');
                thAcoes.innerText = 'Ações';
                trHead.appendChild(thAcoes);

                thead.appendChild(trHead);
                tabela.appendChild(thead);

                const tbody = document.createElement('tbody');

                data.forEach(bebida => {
                    const tr = document.createElement('tr');

                    const tdBebida = document.createElement('td');
                    tdBebida.innerText = bebida.nome;
                    tr.appendChild(tdBebida);

                    const tdSecao = document.createElement('td');
                    tdSecao.innerText = bebida.secao ? bebida.secao.nome : 'Sem seção';
                    tr.appendChild(tdSecao);

                    const tdTipoBebida = document.createElement('td');
                    tdTipoBebida.innerText = bebida.tipoBebida.descricao;
                    tr.appendChild(tdTipoBebida);
                    const tdQuantidade = document.createElement('td');
                    tdQuantidade.innerText = bebida.volume;
                    tr.appendChild(tdQuantidade);

                    const tdAcoes = document.createElement('td');
                    const btnDeletar = document.createElement('button');
                    btnDeletar.className = 'btn btn-danger';
                    btnDeletar.innerText = 'Saída';
                    btnDeletar.onclick = function() {
                        saidaBebida(bebida.id);
                    };
                    tdAcoes.appendChild(btnDeletar);
                    tr.appendChild(tdAcoes);

                    tbody.appendChild(tr);
                });

                tabela.appendChild(tbody);
                resultadoTodasBebidas.appendChild(tabela);
                updateDashboard(); // Atualiza o dashboard após carregar as bebidas
            })
            .catch(error => {
                console.error('Erro:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao consultar todas as bebidas.', 'error');
            });
    }

    function loadQuantidadePorSecao() {
        const resultadoConsulta = document.getElementById('resultadoConsulta');

        // Limpar o conteúdo antes de adicionar a nova tabela
        resultadoConsulta.innerHTML = '';

        fetch(`/api/estoque/quantidade-por-secao`)
            .then(response => response.json())
            .then(data => {
                const tabela = document.createElement('table');
                tabela.className = 'table table-bordered';

                // Cria o cabeçalho da tabela
                const thead = document.createElement('thead');
                const trHead = document.createElement('tr');

                const thTipoBebida = document.createElement('th');
                thTipoBebida.innerText = 'Tipo de bebida';
                trHead.appendChild(thTipoBebida);

                const thVolumeTotal = document.createElement('th');
                thVolumeTotal.innerText = 'Volume total';
                trHead.appendChild(thVolumeTotal);

                thead.appendChild(trHead);
                tabela.appendChild(thead);

                // Cria o corpo da tabela
                const tbody = document.createElement('tbody');

                // Agrupa os dados por tipo de bebida e calcula o volume total por tipo
                const agrupadoPorTipo = data.reduce((acc, item) => {
                    const [secao, tipoBebida, volume] = item;
                    if (!acc[tipoBebida]) {
                        acc[tipoBebida] = 0;
                    }
                    acc[tipoBebida] += volume;
                    return acc;
                }, {});

                // Preenche o corpo da tabela com os dados agrupados
                Object.keys(agrupadoPorTipo).forEach(tipoBebida => {
                    const tr = document.createElement('tr');

                    const tdTipoBebida = document.createElement('td');
                    tdTipoBebida.innerText = tipoBebida;
                    tr.appendChild(tdTipoBebida);

                    const tdVolumeTotal = document.createElement('td');
                    tdVolumeTotal.innerText = `${agrupadoPorTipo[tipoBebida]} litros`;
                    tr.appendChild(tdVolumeTotal);

                    tbody.appendChild(tr);
                });

                tabela.appendChild(tbody);
                resultadoConsulta.appendChild(tabela);
                updateDashboard(); // Atualiza o dashboard após carregar a quantidade por seção
            })
            .catch(error => {
                console.error('Erro:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao consultar a quantidade por seção.', 'error');
            });
    }


    function saidaBebida(bebidaId) {
        Swal.fire({
            title: 'Saída Bebida',
            input: 'text',
            inputLabel: 'Nome do Responsável',
            inputPlaceholder: 'Digite o nome do responsável pela saída',
            showCancelButton: true,
            confirmButtonText: 'Saída',
            showLoaderOnConfirm: true,
            preConfirm: (responsavel) => {
                if (!responsavel) {
                    Swal.showValidationMessage('Por favor, insira o nome do responsável');
                } else {
                    return fetch(`/api/estoque/bebida/${bebidaId}?responsavel=${responsavel}`, {
                        method: 'DELETE',
                    })
                        .then(response => {
                            if (response.ok) {
                                Swal.fire('Sucesso!', 'Saída de bebida realizada com sucesso.', 'success');
                                loadAllBebidas(); // Recarregar a tabela após deletar
                                updateDashboard(); // Atualiza o dashboard após deletar
                            } else {
                                Swal.fire('Erro!', 'Erro ao dar saída de bebida.', 'error');
                            }
                        })
                        .catch(error => {
                            console.error('Erro:', error);
                            Swal.fire('Erro!', 'Ocorreu um erro ao dar saída de bebida.', 'error');
                        });
                }
            }
        });
    }

    function updateDashboard() {
        // Atualizar o total de litros armazenados
        fetch('/api/estoque/volume-total')
            .then(response => response.json())
            .then(data => {
                document.getElementById('totalLitros').innerText = `${data} litros`;
            });

        // Atualizar a quantidade de seções
        fetch('/api/estoque/secoes')
            .then(response => response.json())
            .then(data => {
                document.getElementById('totalSecoes').innerText = data.length;
            })
            .catch(error => {
                console.error('Erro ao carregar as seções:', error);
                document.getElementById('totalSecoes').innerText = 'Erro ao carregar os dados';
            });

        // Atualizar os nomes das bebidas disponíveis
        fetch('/api/estoque/todas-bebidas')
            .then(response => response.json())
            .then(data => {
                const ul = document.getElementById('nomeBebidas');
                ul.innerHTML = ''; // Limpar a lista antes de adicionar novos itens
                data.forEach(bebida => {
                    const li = document.createElement('li');
                    li.innerText = bebida.nome;
                    ul.appendChild(li);
                });
            })
            .catch(error => {
                console.error('Erro ao carregar as bebidas:', error);
                document.getElementById('nomeBebidas').innerText = 'Erro ao carregar os dados';
            });
    }

    function updateMovimentacaoHistorico() {
        const movimentacaoHistoricoDiv = document.getElementById('movimentacaoHistorico');

        // Limpar o conteúdo antes de adicionar a nova tabela
        movimentacaoHistoricoDiv.innerHTML = '';

        fetch('/api/estoque/historico-movimentacoes')
            .then(response => response.json())
            .then(data => {
                const tabela = document.createElement('table');
                tabela.className = 'table table-bordered';
                tabela.id = 'movimentacaoHistoricoTable';  // Adicionando ID à tabela
                const thead = document.createElement('thead');
                const trHead = document.createElement('tr');

                const thHorario = document.createElement('th');
                thHorario.innerText = 'Horário';
                trHead.appendChild(thHorario);

                const thTipo = document.createElement('th');
                const tipoBebidaTitle = document.createElement('div');
                tipoBebidaTitle.innerText = 'Tipo de Bebida'; // Título fora do filtro
                thTipo.appendChild(tipoBebidaTitle);
                trHead.appendChild(thTipo);

                const thVolume = document.createElement('th');
                thVolume.innerText = 'Volume';
                trHead.appendChild(thVolume);

                const thSecao = document.createElement('th');
                const secaoTitle = document.createElement('div');
                secaoTitle.innerText = 'Seção'; // Título fora do filtro
                thSecao.appendChild(secaoTitle);
                trHead.appendChild(thSecao);

                const thResponsavel = document.createElement('th');
                thResponsavel.innerText = 'Responsável';
                trHead.appendChild(thResponsavel);

                thead.appendChild(trHead);
                tabela.appendChild(thead);

                const tbody = document.createElement('tbody');

                data.forEach(item => {
                    const tr = document.createElement('tr');

                    const tdHorario = document.createElement('td');
                    tdHorario.innerText = new Date(item[0]).toLocaleString();
                    tr.appendChild(tdHorario);

                    const tdTipo = document.createElement('td');
                    tdTipo.innerText = item[1];
                    tr.appendChild(tdTipo);

                    const tdVolume = document.createElement('td');
                    tdVolume.innerText = item[2];
                    tr.appendChild(tdVolume);

                    const tdSecao = document.createElement('td');
                    tdSecao.innerText = item[3] ? item[3] : 'Não Informada';
                    tr.appendChild(tdSecao);

                    const tdResponsavel = document.createElement('td');
                    tdResponsavel.innerText = item[4] ? item[4] : 'Não Informado';
                    tr.appendChild(tdResponsavel);

                    tbody.appendChild(tr);
                });

                tabela.appendChild(tbody);
                movimentacaoHistoricoDiv.appendChild(tabela);

                // Inicializando o DataTable para a tabela criada
                $('#movimentacaoHistoricoTable').DataTable({
                    order: [[0, 'desc'], [3, 'asc']], // Ordena primeiro por data (desc) e depois por seção (asc)
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/Portuguese.json'  // Para exibir em português
                    },
                    initComplete: function () {
                        this.api().columns([1, 3]).every(function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo($(column.header()))
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        });
                    }
                });
            })
            .catch(error => {
                console.error('Erro:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao carregar as movimentações.', 'error');
            });
    }


    function loadTiposBebida() {
        const tiposBebidaTableBody = document.getElementById('tiposBebidaTableBody');

        fetch('/api/tipos-bebidas')
            .then(response => response.json())
            .then(data => {
                tiposBebidaTableBody.innerHTML = ''; // Limpa o corpo da tabela

                if (data.length > 0) {
                    data.forEach(tipo => {
                        const row = document.createElement('tr');

                        // Coluna para a descrição do tipo de bebida
                        const descricaoCell = document.createElement('td');
                        descricaoCell.textContent = tipo.descricao;searching: false,
                        row.appendChild(descricaoCell);

                        // Coluna para a capacidade máxima
                        const capacidadeCell = document.createElement('td');
                        capacidadeCell.textContent = tipo.capacidadeMaxima + ' litros';
                        row.appendChild(capacidadeCell);


                        // Coluna para o atributo restricaoQuarentena
                        const restricaoCell = document.createElement('td');
                        restricaoCell.textContent = tipo.restricaoQuarentena ? 'Sim' : 'Não';
                        row.appendChild(restricaoCell);

                        // Coluna para as ações (ex. deletar)deletar
                        const actionsCell = document.createElement('td');
                        const deleteButton = document.createElement('button');
                        deleteButton.className = 'btn btn-danger btn-sm';
                        deleteButton.textContent = 'Deletar';
                        deleteButton.onclick = () => deletarTipoBebida(tipo.id);
                        actionsCell.appendChild(deleteButton);
                        row.appendChild(actionsCell);

                        // Adiciona a linha à tabela
                        tiposBebidaTableBody.appendChild(row);
                    });
                } else {
                    tiposBebidaTableBody.innerHTML = '<tr><td colspan="3">Nenhum tipo de bebida cadastrado</td></tr>';
                }
            })
            .catch(error => {
                console.error('Erro ao carregar tipos de bebida:', error);
            });
    }
    function loadTiposBebidaSelect() {
        const tipoBebidaSelect = document.getElementById('tipoBebida');

        return fetch('/api/tipos-bebidas')
            .then(response => response.json())
            .then(data => {
                tipoBebidaSelect.innerHTML = ''; // Limpa o select

                if (data.length > 0) {
                    data.forEach(tipo => {
                        const option = document.createElement('option');
                        option.value = tipo.id; // Aqui o valor será o ID
                        option.textContent = tipo.descricao;
                        tipoBebidaSelect.appendChild(option);
                    });
                    document.getElementById('tipoBebidaError').style.display = 'none';
                    return true;
                } else {
                    tipoBebidaSelect.innerHTML = '<option value="">Nenhum tipo de bebida disponível</option>';
                    document.getElementById('tipoBebidaError').style.display = 'block';
                    return false;
                }
            })
            .catch(error => {
                console.error('Erro ao carregar tipos de bebida:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao carregar os tipos de bebida.', 'error');
                return false;
            });
    }


    function carregarSecoes() {
        const listaSecoes = document.getElementById('listaSecoes');

        fetch('/api/secoes')
            .then(response => response.json())
            .then(data => {
                listaSecoes.innerHTML = ''; // Limpa a lista antes de adicionar novas seções

                if (data.length > 0) {
                    data.forEach(secao => {
                        const item = document.createElement('li');
                        item.className = 'list-group-item d-flex justify-content-between align-items-center';
                        item.textContent = `${secao.nome} - Utilização total: ${secao.utilizacaoTotal} litros`;

                        const deleteButton = document.createElement('button');
                        deleteButton.className = 'btn btn-danger btn-sm';
                        deleteButton.textContent = 'Deletar';
                        deleteButton.onclick = () => deletarSecao(secao.id);

                        item.appendChild(deleteButton);
                        listaSecoes.appendChild(item);
                    });
                } else {
                    listaSecoes.innerHTML = '<li class="list-group-item">Nenhuma seção cadastrada</li>';
                }
            })
            .catch(error => {
                console.error('Erro ao carregar seções:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao carregar as seções.', 'error');
            });
    }

    function adicionarSecao() {
        const nomeSecao = document.getElementById("nomeSecao").value;

        fetch("/api/secoes/nova", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                nome: nomeSecao,
                utilizacaoTotal: 0 // Inicializa a capacidade atual como zero
            })
        })
            .then(response => response.text())
            .then(message => {
                Swal.fire('Sucesso!', message, 'success');
                carregarSecoes(); // Recarrega as seções existentes
            })
            .catch(error => console.error("Erro ao adicionar seção:", error));
    }

    function deletarSecao(secaoId) {
        Swal.fire({
            title: 'Tem certeza?',
            text: "Esta ação não pode ser desfeita!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sim, deletar!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/api/secoes/${secaoId}`, {
                    method: "DELETE"
                })
                    .then(response => {
                        if (!response.ok) {
                            return response.text().then(errorMessage => {
                                throw new Error(errorMessage);
                            });
                        }
                        return response.text();
                    })
                    .then(message => {
                        Swal.fire('Deletado!', message, 'success');
                        carregarSecoes();
                    })
                    .catch(error => {
                        Swal.fire('Erro!', error.message, 'error');
                    });
            }
        });
    }

    function deletarTipoBebida(tipoBebidaId) {
        Swal.fire({
            title: 'Tem certeza?',
            text: "Esta ação não pode ser desfeita!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sim, deletar!',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/api/tipos-bebidas/${tipoBebidaId}`, {
                    method: "DELETE"
                })
                    .then(response => response.text())
                    .then(message => {
                        Swal.fire('Deletado!', message, 'success');
                        loadTiposBebida(); // Recarregar a lista após deletar
                    })
                    .catch(error => console.error("Erro ao deletar tipo de bebida:", error));
            }
        });
    }

    document.getElementById('tipoBebidaForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const descricao = document.getElementById('descricaoTipoBebida').value;
        const capacidadeMaxima = parseFloat(document.getElementById('capacidadeMaximaBebida').value);
        const restricaoQuarentena = document.getElementById('restricaoQuarentena').checked;

        fetch('/api/tipos-bebidas/nova', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ descricao, capacidadeMaxima, restricaoQuarentena })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro na resposta da rede.');
                }
                return response.text();
            })
            .then(data => {
                Swal.fire('Sucesso!', data, 'success');
                document.getElementById('tipoBebidaForm').reset();
                loadTiposBebida(); // Recarrega a lista de tipos de bebidas
            })
            .catch(error => {
                console.error('Erro ao adicionar tipo de bebida:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao adicionar o tipo de bebida.', 'error');
            });
    });
    document.getElementById('entradaForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const nome = document.getElementById('nomeBebida').value;
        const volume = parseFloat(document.getElementById('volumeBebida').value);
        const tipoBebida = document.getElementById('tipoBebida').value;
        const secaoId = document.getElementById('secaoIdEntrada').value;
        const responsavel = document.getElementById('responsavelEntrada').value;

        const bebida = {
            nome: nome,
            volume: volume,
            tipoBebida: {
                id: tipoBebida
            }
        };

        fetch(`/api/estoque/entrada?secaoId=${secaoId}&responsavel=${responsavel}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(bebida)
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(errorMessage => {
                        throw new Error(errorMessage);
                    });
                }
                return response.text();
            })
            .then(data => {
                Swal.fire('Sucesso!', data, 'success');
                document.getElementById('entradaForm').reset();
                updateDashboard();
            })
            .catch(error => {
                Swal.fire('Erro!', error.message, 'error');  // Exibe a mensagem de erro personalizada
            });
    });

    document.getElementById("formSecao").addEventListener("submit", function(event) {
        event.preventDefault();
        adicionarSecao();
    });

    // Inicializar com o dashboard exibido e carregar os dados
    document.addEventListener('DOMContentLoaded', function() {
        loadTiposBebida();  // Carrega os tipos de bebida ao carregar a página
        showDashboard();  // Exibe o dashboard ao carregar a página
        showGerenciarSecoes(); // Exibe a tela de Gerenciar Seções e carrega as seções
        carregarSecoes(); // Carrega as seções quando a página é carregada
        carregarTiposBebida();


    });

    function consultarLocaisDisponiveis() {
        const volumeDesejado = parseFloat(document.getElementById('volumeConsultaDashboard').value);

        if (isNaN(volumeDesejado) || volumeDesejado <= 0) {
            Swal.fire('Erro!', 'Por favor, insira um volume válido.', 'error');
            return;
        }


        fetch(`/api/estoque/locais-disponiveis?volume=${volumeDesejado}`)
            .then(response => response.json())
            .then(data => {
                const resultadoConsulta = document.getElementById('resultadoConsultaLocais');
                resultadoConsulta.innerHTML = ''; // Limpa o conteúdo

                if (data.length === 0) {
                    resultadoConsulta.innerText = 'Nenhum local disponível para armazenar o volume solicitado.';
                    return;
                }

                const lista = document.createElement('ul');
                lista.className = 'list-group';

                data.forEach(secao => {
                    const item = document.createElement('li');
                    item.className = 'list-group-item';
                    const capacidadeDisponivel = secao.capacidadeDisponivel;  // Agora usamos a capacidadeDisponivel retornada pelo backend
                    item.innerText = `${secao.nome} - Capacidade Disponível: ${capacidadeDisponivel} litros`;
                    lista.appendChild(item);
                });

                resultadoConsulta.appendChild(lista);
            })
            .catch(error => {
                console.error('Erro:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao consultar os locais disponíveis.', 'error');
            });
    }

    function consultarSecoesDisponiveisParaVenda() {
        const tipoBebidaId = document.getElementById('tipoBebidaVenda').value;

        if (!tipoBebidaId) {
            Swal.fire('Erro!', 'Por favor, selecione um tipo de bebida.', 'error');
            return;
        }

        fetch(`/api/estoque/secoes-disponiveis-venda?tipoBebidaId=${tipoBebidaId}`)
            .then(response => response.json())
            .then(data => {
                const resultadoConsultaVenda = document.getElementById('resultadoConsultaVenda');
                resultadoConsultaVenda.innerHTML = ''; // Limpa o conteúdo

                if (data.length === 0) {
                    resultadoConsultaVenda.innerText = 'Nenhuma seção disponível para venda da bebida solicitada.';
                    return;
                }

                const lista = document.createElement('ul');
                lista.className = 'list-group';

                data.forEach(secao => {
                    const item = document.createElement('li');
                    item.className = 'list-group-item';
                    item.innerText = `${secao.nome} - Capacidade Disponível: ${secao.capacidadeDisponivel} litros`;
                    lista.appendChild(item);
                });

                resultadoConsultaVenda.appendChild(lista);
            })
            .catch(error => {
                console.error('Erro:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao consultar as seções disponíveis para venda.', 'error');
            });
    }

    function carregarTiposBebida() {
        const tipoBebidaSelect = document.getElementById('tipoBebidaVenda');

        fetch('/api/tipos-bebidas')
            .then(response => response.json())
            .then(data => {
                tipoBebidaSelect.innerHTML = ''; // Limpa o select

                if (data.length > 0) {
                    data.forEach(tipo => {
                        const option = document.createElement('option');
                        option.value = tipo.id;
                        option.textContent = tipo.descricao;
                        tipoBebidaSelect.appendChild(option);
                    });
                } else {
                    tipoBebidaSelect.innerHTML = '<option value="">Nenhum tipo de bebida disponível</option>';
                }
            })
            .catch(error => {
                console.error('Erro ao carregar tipos de bebida:', error);
                Swal.fire('Erro!', 'Ocorreu um erro ao carregar os tipos de bebida.', 'error');
            });
    }
</script>
</body>
</html>
